.bash_history
.cache/
.config/BraveSoftware/
.config/Code/
.config/dconf/
.config/gh/hosts.yml
.config/micro/backups/
.config/micro/buffers/
.config/nemo/desktop-metadata
.config/pulse/
.local/share/cinnamon/applets/
.local/share/gnupg/*
!.local/share/gnupg/gpg-agent.conf
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/keyrings/
.local/share/locale/
.local/share/recently-used.xbel
.local/share/Trash/
.local/state/
.pki/
.Xauthority
.xsession-errors
.xsession-errors.old
