.bash_history
.cache/
.config/BraveSoftware/
.config/Code/
.config/dconf/
.config/gh/hosts.yml
.config/menus/applications-merged/
.config/micro/backups/
.config/micro/buffers/
.config/nemo/desktop-metadata
.config/pulse/
.config/tool_state
.config/vlc/
.config/zoom.conf
.dart-tool/
.flutter
.gradle/
.gtkrc-2.0
.local/share/applications/
.local/share/cinnamon/applets/
.local/share/cinnamon/extensions/
.local/share/fish/
.local/share/gnupg/
!.local/share/gnupg/gpg-agent.conf
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/icons/
.local/share/keyrings/
.local/share/locale/
.local/share/pnpm-store/
.local/share/pnpm/
.local/share/recently-used.xbel
.local/share/Trash/
.local/share/vlc/
.local/state/
.pki/
.python_history
.vscode/extensions/
.Xauthority
.xsession-errors
.xsession-errors.old
.zoom/
Desktop/
var/
